img.topLogo {
    width: 200px;
    height: 200px;
    position: fixed;
    top: -5;
    left: -5;
    z-index: 100;
}

img.navBar {
    width: 1000;
    height: 200;
    position: fixed;
    top: -5;
    z-index: 90;
}

img.turkey {
    width: 3200;
    height: 400;
    position: absolute;
    top: -50;
    right: -1600;
    z-index: 0;
}

img.goodBar {
    position: absolute;
    height: 300;
    width: 1200;
    z-index: 1;
    top: -5;
    left: -750;
}

img.hideBar {
    position: absolute;
    width: 3600px;
    height: 1000px;
    top: 295;
    left: -5;
}

.content {
    z-index: 50;
    position: relative;
}

.content {
    margin-left: 8px;
}

.tester {
    display: none;
}

ul.navi {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 200;
    position: absolute;
    left: 180;
    top: 37;
}

li.navi {
    display: inline;
    color: #FFFFFF;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 40px;
    padding-bottom: 42px;
    border-radius: 10px;
}

li.navi:hover {
    /* background-image: url("/rcs/images.jpg"); Testing Purposes [WIP]*/
    background: #660000;
}

a.navi {
    color: #FFFFFF;
}





